body {
    margin: 0;
    padding: 0px 10px;
    box-sizing: border-box;
    background-color: white;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    nav {
        border: 1px solid rgb(235, 233, 233);
        border-radius: 15px;
        width: 100%;
        height: 32px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin: 10px 0px;
        button {
            all: unset;
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 3px 10px;
        }
    }
}

.chartBorder {
    border: 1px solid rgb(235, 233, 233);
    border-radius: 15px;
    width: 100%;
    margin-bottom: 10px;
    height: 400px;
}
 
.reportChart {
    padding: 10px;
    height: 100%;
}

.reportContainer {
    border: 1px solid rgb(235, 233, 233);
    border-radius: 15px;
    width: 100%;
    height: 100vh;
    margin-bottom: 10px;
}
.reportChart canvas {
  height: 100% !important;
  width: 100% !important;
}

@media (min-width: 768px) {
    nav, .reportContainer, .chartBorder, .table{
        max-width: 600px;
        }
    
}

svg {
    stroke: #007bff;
  }
  svg:hover {
    stroke: #0056b3; 
}

.table {
    margin: 10px 0px;
    overflow-y: auto;
    height: 100vh;
    border: 1px solid rgb(235, 233, 233);
    border-radius: 15px;
    width: 100%;
    /* margin-bottom: 70px; */
  }
  table {
    border-collapse: collapse;
    width: 100%;
  }
  
  th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid rgb(235, 233, 233);
  }
  
  th {
    background-color: #f1f1f1;
  }
  
  tr:hover {
    background-color: rgb(235, 233, 233);
  }