<!Doctype html>
<html>
<head>
    <title>Change Password</title>
    <link rel="apple-touch-icon" href="/static/apple-touch-icon.png">
</head>
<body>

    <form method="POST">
        <label>Email</label><br>
        <input type="email" name="email" placeholder="Email">
        <button type="submit">Recover my password</button>
    </form>
    {% if success %}
        <p style="color:green">{{ success }}</p>
        <p><a href="{{ url_for('index') }}">Return</a></p>
    {% endif %}
    
</body>
</html>