<!Doctype html>
<html>
<head>
    <title>Change Password</title>
    <link rel="apple-touch-icon" href="/static/apple-touch-icon.png">
</head>
<body>

    <form method="POST" action="{{ url_for('forgot_password') }}">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
        <label>Email</label><br>
        <input type="email" name="email" placeholder="Email">
        <button type="submit">Recover my password</button>
    </form>
    {% if msg %}
        <p>{{ msg }}</p>
        <p><a href="{{ url_for('index') }}">Return</a></p>
    {% endif %}
    
</body>
</html>