<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='forms.css') }}">
    <link rel="apple-touch-icon" href="/static/apple-touch-icon.png">
</head>
<body>
    <form method="post" action="{{ url_for('login') }}">
        <h1>Ledger</h1>
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
        <input type="text" name="email" placeholder="Email" id="field">
        <input type="password" name="password" placeholder="Password" id="field">
        {% if error %}
        <div style="color: red">{{ error }}</div>
        <a href="{{ url_for('forgot_password') }}">Forgot password ?</a>
        {% endif %}
        <input type="submit" value="Login" id="login">
        <a href="/signup">Don't have an account?</a>
    </form>
</body>
</html>