<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ledger</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels@2"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles-report.css') }}"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css"/>
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <script src="https://cdn.jsdelivr.net/npm/flatpickr/dist/plugins/monthSelect/index.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/plugins/monthSelect/style.css">
  </head>
  <body>
    <nav>
      <button onclick="index()">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          width="24"
          height="24"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M9 15 3 9m0 0 6-6M3 9h12a6 6 0 0 1 0 12h-3"
          />
        </svg>
      </button>
      <input type="text" id="monthPicker" placeholder="Select month and year" value="{{ '%04d'|format(current_year) }}-{{ '%02d'|format(current_month) }}" />
      <button onclick="logout()">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          width="24"
          height="24"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M8.25 9V5.25A2.25 2.25 0 0 1 10.5 3h6a2.25 2.25 0 0 1 2.25 2.25v13.5A2.25 2.25 0 0 1 16.5 21h-6a2.25 2.25 0 0 1-2.25-2.25V15m-3 0-3-3m0 0 3-3m-3 3H15"
          />
        </svg>
      </button>
    </nav>
    <div class="chartBorder">
        <div class="reportChart">
          <canvas id="reportChart"></canvas>
        </div>
    </div>
    <div class="table">
        <table>
          <tr>
            <th>Metric</th>
            <th></th>
          </tr>
          <tr>
            <td>Balance</td>
            <td>{{income + expenses}}</td>
          </tr>
          <tr>
            <td>Expenses</td>
            <td>{{expenses}}</td>
          </tr>
          <tr>
            <td>Income</td>
            <td>{{income}}</td>
          </tr>
        </table>
      </div>
    </div>
    <script src="{{ url_for('static', filename='reportScript.js') }}"></script>
  </body>
</html>